<ion-content>
  <div class="credit">
    <div class="ion-padding">
      <ion-icon name="logo-usd"></ion-icon><br>
      <ion-label>Saldo Disponible</ion-label><br>
      <ion-label class="Money">$18,000</ion-label>
    </div>
    <div class="holder">
      <div class="spacer">
        <ion-label class="Title">Solicitar Dinero</ion-label>
      </div>
      <ion-label class="Subtitle">$500</ion-label>

      <ion-range min="-200" max="200" color="secondary" expand="full">
      </ion-range>

      <div class="spacer">
        <ion-label class="Subtitle"> Nuevo pago estimado: $500</ion-label>
      </div>
      <div class="spacer">
        <ion-label class="Title">Donde Depositar</ion-label>
      </div>
      <div class="thumnails">
        <div class="list-thumbnail">
          <div class="img-thumb">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSxt18FkchP2Fi549aYAqi8mRjIE345Ei6w-1Vp9vGiigd3kUzz">
          </div>
          <div class="img-thumb">
              <img src="https://images.assetsdelivery.com/compings_v2/blankstock/blankstock1811/blankstock181102275.jpg">    
          </div>
        </div>
      </div>
      <div class="serviceButton">
        <ion-label class="Subtitle">Gracias por su servicio</ion-label>
        <ion-button size="small" color="primary">Retirar</ion-button>
      </div>

    </div>
  </div>

</ion-content>