<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-list-header>
          <ion-label>Legal</ion-label>
        </ion-list-header>
        <ion-item >Mas Informacion</ion-item>
        <ion-item>Terminos y Condiciones</ion-item>
        <ion-item >Poliza de Seguridad</ion-item>
        <ion-list-header>
            <ion-label>Cuenta</ion-label>
          </ion-list-header>
          <ion-item (tap)="changePassword()">Cambiar Contraseña</ion-item>
        <ion-item (tap)="signOut()">Salir</ion-item>
      </ion-list>
</ion-content>