<ion-content>
  <div class="credit">
    <div class="ion-padding">
      <ion-icon name="logo-usd"></ion-icon><br>
      <ion-label>Saldo Disponible</ion-label><br>
      <ion-label class="Money">$18,000</ion-label>
    </div>
    <div class="holder">
      <div class="spacer">
        <ion-label class="Title">Selecciona el servicio</ion-label>
      </div>
      <div class="thumnails">
        <div class="list-thumbnail">
          <div class="img-thumb">

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQPTNz97FP8PglCj8iJOpZOjqUNzn8I4G0kXN0_h4_oe8d_oqCc">
          </div>
          <div class="img-thumb">

            
          </div>
          <div class="img-thumb">


          </div>
          <div class="img-thumb">


          </div>
        </div>
      </div>
      <div class="spacer">
        <ion-label class="Title">Monto a pagar</ion-label>
      </div>
      <ion-label class="Subtitle">$500</ion-label>

      <ion-range min="-200" max="200" color="secondary" expand="full"></ion-range>

      <div class="spacer">
        <ion-label class="Subtitle"> Nuevo pago estimado: $500</ion-label>
      </div>

      <div class="serviceButton">
        <ion-label class="Subtitle">Gracias por su servicio</ion-label>
        <ion-button size="small" color="secondary">Pagar</ion-button>
      </div>

    </div>
  </div>

</ion-content>